<% include ../partials/headermain %>

<div class="container-fluid">

<thead>
<h1>Search for Recipes <small>and add them to your notebook</small>	</h1>
</thead>

<form class="form-inline" id="searchBigOvenForm">
  <div class="form-group">
    <label for="searchTerm">
    	<input type="text" class="form-control" id="searchTerm" placeholder="search" autofocus>
    </label>
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

<table class="table table-hover">
<tbody>






</tbody>
</table>


</div>


<% include ../partials/footer %>