<% include ../partials/header %>

<div class="container-fluid">

<thead>
<h1>All Recipes in the DB</h1>
</thead>

<table class="table table-hover">
<tbody>

<% recipesDB.forEach(function(recipe){ %>
	<tr data-url=/recipe/ "<%= recipe._id %>" /show>	
		<td><img height="130" width="130" src= "<%= recipe.image %>" alt=""></td>
		<td><%= recipe.title %></td>
		<% recipe.ingredients.forEach(function(ingredient){ %>
			
			<%= ingredient.name %>

		<% }) %>
	</tr>
<% }) %>


</tbody>
</table>
</div>


<% include ../partials/footer %>